<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_block %}
{% if quote_detail %}
<div class="container">
  </br>
  <a href="{% url 'basic_app:quotes' %}" class="btn btn-info" role="button" aria-pressed="true"><- Back</a>
  </br>
  <div class="card mt-3" style="width: 50rem;">
      <h5 class="card-header">Quote Details:</h5>
      <div class="card-body">
        <h5 class="card-title">{{quote_detail.quoteDesription}}</h5>
        <p class="card-text">Author: {{quote_detail.quoteAuthor}}</p>
        <p class="card-text">Famous for: {{quote_detail.quoteAuthor.famousFor}}</p>
        <p class="card-text">Life range: {{quote_detail.quoteAuthor.lifeRange}}</p> 
        <a href="{% url 'basic_app:quote_update' pk=quote_detail.pk %}" class="btn btn-warning" role="button">Update</a>
        <a href="{% url 'basic_app:quote_delete' pk=quote_detail.pk %}" class="btn btn-danger" role="button">Delete</a>
      </div>
    </div>
</div>

{% endif %}
{% endblock %}
